<p>error-page works!</p>

<ul>
    <li>
        <a href="./auth/login">Ir al Login</a>
    </li>
    <li>
        <a href="./auth/register">Ir al Register</a>
    </li>
    <li>
        <a href="./heroes/listado">Ir al Listado</a>
    </li>
    <li>
        <a href="./heroes/agregar">Ir a Agregar</a>
    </li>
    <li>
        <a href="./heroes/editar/:id">Ir a Editar</a>
    </li>
    <li>
        <a href="./heroes/buscar">Ir a Buscar</a>
    </li>
    <li>
        <a href="./heroes/:id">Ir a Heroe</a>
    </li>
    
</ul>